.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  font-weight: 600;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  background-color: #f44336;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #762929;
  color: #fff;
}
.btnNotification {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btnNotification:hover,
.btnNotification:focus {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #acacac;
}
.notificationText {
  text-align: center;
}
