.totalHomeWrap {
  overflow: hidden;
  min-height: 100vh;
  background-color: rgba(243, 227, 239, 0.5);
}
.homeWrapper {
  height: 80vh;
  background-image: url("../images/book-small.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.thumb {
  max-width: 500px;
  max-height: 80vh;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .homeWrapper {
    background-image: url("../images/book-medium.png");
  }
}
@media screen and (min-width: 1200px) {
  .homeWrapper {
    background-image: url("../images/book-large.png");
    background-size: contain;
  }
}
